<template>
  <h1>Homepage</h1>
  <el-row justify="center" type="flex">
    <el-select v-model="selectedGroup" remote placeholder="Select Group" @change="listFiles">
      <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"/>
    </el-select>

    <el-button type="primary" @click="groupFormVisible = true">Create Group</el-button>
    <el-button type="danger" @click="deleteGroup()">Delete Group</el-button>
    <el-button type="primary" @click="userFormVisible = true">Add User</el-button>
    <el-button type="danger" @click="removeUserFormVisible = true">Remove User</el-button>
    <el-button type="primary" @click="fileFormVisible = true">Add Files</el-button>

  </el-row>
  <el-row justify="center" type="flex">
    <el-col :xs="22" :sm="18" :md="16" :lg="14" :xl="12">
      <el-table ref="multipleTable" :data="tableData" style="width: 100%">
        <el-table-column
            property="filename"
            label="Filename"
            show-overflow-tooltip>
          <template #default="scope">{{ scope.row.filename }}</template>
        </el-table-column>
        <el-table-column
            label="Operations">
          <template #default="scope">
            <el-button size="mini" type="primary" @click="downloadFile(scope.$index)">Download</el-button>
            <el-button size="mini" type="danger" @click="deleteFile(scope.$index)">Delete</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-col>
  </el-row>

  <el-dialog title="Create Group" v-model="groupFormVisible">
    <el-form :model="groupform">
      <el-form-item label="Group name" :label-width="formLabelWidth">
        <el-input v-model="groupform.name" autocomplete="off"></el-input>
      </el-form-item>
    </el-form>
    <template #footer>
    <span class="dialog-footer">
      <el-button @click="groupFormVisible = false">Cancel</el-button>
      <el-button type="primary" @click="groupFormVisible = false; createGroup()">Confirm</el-button>
    </span>
    </template>
  </el-dialog>

  <el-dialog title="Add User" v-model="userFormVisible">
    <el-form :model="userform">
      <el-form-item label="User" :label-width="formLabelWidth">
        <el-select v-model="userform.uid" remote placeholder="Select a user">
          <el-option v-for="item in userOptions" :key="item.value" :label="item.label" :value="item.value"/>
        </el-select>
      </el-form-item>
    </el-form>
    <template #footer>
    <span class="dialog-footer">
      <el-button @click="userFormVisible = false">Cancel</el-button>
      <el-button type="primary" @click="userFormVisible = false; addUser()">Confirm</el-button>
    </span>
    </template>
  </el-dialog>

  <el-dialog title="Remove User" v-model="removeUserFormVisible">
    <el-form :model="removeuserform">
      <el-form-item label="User" :label-width="formLabelWidth">
        <el-select v-model="removeuserform.uid" remote placeholder="Select a user">
          <el-option v-for="item in removeUserOptions" :key="item.value" :label="item.label" :value="item.value"/>
        </el-select>
      </el-form-item>
    </el-form>
    <template #footer>
    <span class="dialog-footer">
      <el-button @click="removeUserFormVisible = false">Cancel</el-button>
      <el-button type="primary" @click="removeUserFormVisible = false; removeUser()">Confirm</el-button>
    </span>
    </template>
  </el-dialog>

  <el-dialog title="Add Files" v-model="fileFormVisible">
    <el-upload ref="upload" action="" :before-upload="beforeUpload" multiple :file-list="fileList" list-type="picture"
               :auto-upload="false">
      <el-button size="small" type="primary">Add file</el-button>
    </el-upload>
    <template #footer>
    <span class="dialog-footer">
      <el-button @click="fileFormVisible = false">Cancel</el-button>
      <el-button type="primary" @click="fileFormVisible = false; submitFileUpload()">Upload</el-button>
    </span>
    </template>
  </el-dialog>
</template>

<script>
import {auth, fieldValue, groupsCollection, storage, usersCollection} from '@/components/Firebass'
import {Crypt, RSA} from 'hybrid-crypto-js'
import fileDownload from 'js-file-download'

export default {
  name: "Home",
  data() {
    return {
      options: [],
      userOptions: [],
      removeUserOptions: [],
      users: [],
      groupUsers: [],
      loading: false,
      selectedGroup: '',
      groupFormVisible: false,
      userFormVisible: false,
      fileFormVisible: false,
      removeUserFormVisible: false,
      groupform: {
        name: '',
      },
      userform: {
        uid: '',
      },
      removeuserform: {
        uid: '',
      },
      formLabelWidth: '120px',
      fileList: [],
      tableData: [],
      publicGroupKey: '',
    }
  },
  mounted() {
    this.loadGroups()
    this.loadUsers()
  },
  methods: {
    async loadGroups() {
      const snapshot = await groupsCollection.get();
      this.options = []
      snapshot.forEach(async doc => {
        const groupName = doc.id
        if (await this.isUserInGroup(groupName))
          this.options.push({value: groupName, label: groupName})
      });
    },
    async loadUsers() {
      const snapshot = await usersCollection.get();
      this.users = snapshot
      this.userOptions = []
      const uid = auth.currentUser.uid
      snapshot.forEach(doc => {
        if (doc.id !== uid)
          this.userOptions.push({value: doc.id, label: doc.data().email})
      });

    },
    async createGroup() {
      const groupName = this.groupform.name
      const publicKey = sessionStorage.getItem('publicKey')
      const uid = auth.currentUser.uid
      const rsa = new RSA()

      // Generate 4096 bit RSA key pair
      rsa.generateKeyPair(async keyPair => {
        const publicGroupKey = keyPair.publicKey
        const privateGroupKey = keyPair.privateKey

        this.addUserKeyToGroup(uid, publicKey, privateGroupKey, publicGroupKey, groupName, "Successfully created group ")
        await this.loadGroups()
      })
    },
    async addUser() {
      const addedUid = this.userform.uid
      const groupName = this.selectedGroup
      if (groupName.isEmpty()) {
        this.$message.error('You must select a group!');
        return
      }

      const {privateGroupKey, publicGroupKey} = await this.getGroupKeys()
      // Get added user's public key
      const addedPublicKey = (await usersCollection.doc(addedUid).get()).data().publicKey
      // Store {userId, epgk} to groups table for that group
      this.addUserKeyToGroup(addedUid, addedPublicKey, privateGroupKey, publicGroupKey, groupName, "Successfully added to group ")
      await this.loadGroupUsers()
    },
    async getGroupKeys() {
      const userKeys = (await groupsCollection.doc(this.selectedGroup).get()).data()
      const publicGroupKey = userKeys.publicKey
      const uid = auth.currentUser.uid
      let userKey = userKeys.userKeys.filter(userKey => userKey.userId === uid)
      if (userKey.length > 0) {
        userKey = userKey[0].epgk
        // Decrypt groupPrivateKey with the logged in user's private key
        const crypt = new Crypt()
        const currentPrivateKey = sessionStorage.getItem('privateKey')
        const decryptedGroupPrivateKey = crypt.decrypt(currentPrivateKey, userKey).message

        return {privateGroupKey: decryptedGroupPrivateKey, publicGroupKey: publicGroupKey}
      } else {
        this.$message.error('You are not part of this group!');
      }
    },
    addUserKeyToGroup(uid, userPublicKey, privateGroupKey, publicGroupKey, groupName, successMessage) {
      // Encrypt private group key with user public key
      const crypt = new Crypt()
      const encryptedPrivateGroupKey = crypt.encrypt(userPublicKey, privateGroupKey)
      // Store in groups table
      try {
        groupsCollection.doc(groupName).set({
          publicKey: publicGroupKey,
          userKeys: fieldValue.arrayUnion({userId: uid, epgk: encryptedPrivateGroupKey}),
        }, {merge: true})

        this.$message({message: successMessage + groupName, type: 'success'});
      } catch (e) {
        this.$message.error('Error adding to group! Please try again');
        console.log(e)
      }
    },
    // File functions
    submitFileUpload() {
      this.$refs.upload.submit()
    },
    async downloadFile(index) {
      const fileName = this.tableData[index].filename
      const starsRef = storage.child(this.selectedGroup + '/' + fileName);

      const downloadURL = await starsRef.getDownloadURL()

      try {
        const xhr = new XMLHttpRequest();
        xhr.responseType = 'text';
        xhr.onload = async () => {
          const encryptedText = xhr.response;
          // decrypt the text
          const crypt = new Crypt();
          const {privateGroupKey} = await this.getGroupKeys()
          const decrypted = crypt.decrypt(privateGroupKey, encryptedText).message
          const arrayBuffer = this.str2ab(decrypted)

          fileDownload(arrayBuffer, fileName);
        };
        xhr.open('GET', downloadURL);
        xhr.send();
      } catch (e) {
        console.log("Error downloading file", e)
      }
    },
    async listFiles() {
      // Fetch file list for selected group and populate file table
      const groupName = this.selectedGroup
      if (groupName.isEmpty()) return;

      const storageRef = storage.child(this.selectedGroup)
      const res = await storageRef.listAll()
      this.tableData = res.items.map(item => ({filename: item.name}))

      // Also fetch and keep public group key
      const group = (await groupsCollection.doc(groupName).get()).data()
      this.publicGroupKey = group.publicKey

      // Load group users
      await this.loadGroupUsers(group)
    },
    async loadGroupUsers(group) {
      if (!group) group = (await groupsCollection.doc(this.selectedGroup).get()).data()
      this.groupUsers = []
      this.removeUserOptions = []
      this.users.forEach(user => {
        if (group.userKeys.some(({userId}) => userId === user.id)) {
          this.groupUsers.push(user)
          this.removeUserOptions.push({value: user.id, label: user.data().email})
        }
      })

    },
    async beforeUpload(file) {
      if (this.selectedGroup.isEmpty()) {
        this.$message.error('You must select a group!');
        return false
      }

      // Encrypt the file using group's public key
      const arrayBuffer = await file.arrayBuffer()
      const stringified = this.ab2str(arrayBuffer)

      const crypt = new Crypt()
      const encryptedFile = crypt.encrypt(this.publicGroupKey, stringified)

      const storageRef = storage.child(this.selectedGroup + '/' + file.name)

      await storageRef.putString(encryptedFile).then(() => {
        this.$message({
          message: "Uploaded " + file.name + " to group " + this.selectedGroup,
          type: 'success'
        });
        this.listFiles()
      });
      return false
    },
    async isUserInGroup(groupName) {
      if (groupName.isEmpty()) groupName = this.selectedGroup
      const userKeys = (await groupsCollection.doc(groupName).get()).data()
      const uid = auth.currentUser.uid
      return userKeys.userKeys.some(userKey => userKey.userId === uid)
    },
    async removeUser() {
      const uid = this.removeuserform.uid
      const group = (await groupsCollection.doc(this.selectedGroup).get()).data()
      let userKeys = group.userKeys.filter(userKey => userKey.userId !== uid)
      // Remove from group userKeys array
      groupsCollection.doc(this.selectedGroup).update({
        userKeys: userKeys
      });
      this.$message({message: "Successfully removed user from group", type: 'success'});
      await this.loadGroupUsers()
    },
    async deleteFile(index) {
      const filename = this.tableData[index].filename
      // firestore remove file
      // update table and file list
      const storageRef = storage.child(this.selectedGroup + '/' + filename)
      try {
        await storageRef.delete()
        this.$message({message: "Successfully deleted " + filename + " from " + this.selectedGroup, type: 'success'});
        await this.listFiles()
      } catch (e) {
        this.$message.error('Failed to delete file. Please try again');
      }
    },
    async deleteGroup() {
      const groupname = this.selectedGroup
      //const storageRef = storage.child(groupname)
      try {
        // Delete folder with group name from storage
        //await storageRef.delete() // endpoint doesn't actually exist?
        // Delete document with group name from groups collection
        await groupsCollection.doc(groupname).delete()
        this.$message({message: "Successfully deleted group " + this.selectedGroup, type: 'success'});
        this.selectedGroup = ''
        this.tableData = []
      } catch (e) {
        this.$message.error('Failed to delete group. Please try again');
      }
    },
    ab2str(buf) {
      return String.fromCharCode.apply(null, new Uint8Array(buf));
    },
    str2ab(str) {
      const buf = new ArrayBuffer(str.length * 2); // 2 bytes for each char
      const bufView = new Uint8Array(buf);
      for (let i = 0, strLen = str.length; i < strLen; i++) {
        bufView[i] = str.charCodeAt(i);
      }
      return buf;
    },
  },

}

String.prototype.isEmpty = function () {
  return (this.length === 0 || !this.trim());
};
</script>

<style scoped>
.el-select {
  margin-right: 10px;
  margin-left: 10px;
}
</style>