<template>
  <el-row justify="center" type="flex">
    <h1>Please login below</h1>
  </el-row>
  <el-row justify="center" type="flex">
    <el-col :xs="12" :sm="9" :md="8" :lg="7" :xl="6">
      <el-form ref="form" :model="form" label-width="120px" :rules="rules">
        <el-form-item label="Email" prop="email">
          <el-input type="email" v-model="form.email"></el-input>
        </el-form-item>
        <el-form-item label="Password" prop="password">
          <el-input type="password" v-model="form.password"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit('form')">Login</el-button>
          <el-button @click="toRegistration">Register</el-button>
        </el-form-item>
      </el-form>
    </el-col>
  </el-row>
</template>

<script>
import {auth, usersCollection} from '@/components/Firebass'
import aes from "crypto-js/aes";
import cryptojs from "crypto-js";

export default {
  name: "Login",
  data() {
    return {
      form: {
        username: '',
        password: '',
      },
      rules: {
        email: [
          {required: true, type: "email", message: 'Please input an email', trigger: 'blur'},
        ],
        password: [
          {required: true, message: 'Please input a password', trigger: 'blur'},
          {min: 8, message: 'Password should be at least 8 characters long', trigger: 'blur'},
          {max: 50, message: 'Password too long', trigger: 'blur'}
        ],
      },
    }
  },
  methods: {
    toRegistration() {
      this.$router.push({name: 'register'})
    },
    onSubmit(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (!valid) return false
        const email = this.form.email
        const password = this.form.password

        try {
          await auth.signInWithEmailAndPassword(email, password)
          this.$message({
            message: 'Login successful',
            type: 'success'
          });

          // Keep the login details
          sessionStorage.setItem('email', email)
          sessionStorage.setItem('password', password)
          const uid = auth.currentUser.uid

          // Retrieve the user keys
          const doc = await usersCollection.doc(uid).get().data()
          const publicKey = doc.publicKey
          const encryptedPrivateKey = doc.encryptedPrivateKey
          // Decrypt user's private key using password
          const privateKey = aes.decrypt(encryptedPrivateKey, password).toString(cryptojs.enc.Utf8)

          // Keep keys for later use
          sessionStorage.setItem('publicKey', publicKey)
          sessionStorage.setItem('privateKey', privateKey)

          await this.$router.push({name: 'home'})
        } catch (error) {
          this.$message.error('Error logging in! Please try again');
          const errorCode = error.code;
          const errorMessage = error.message;
          console.log(errorCode, errorMessage)
        }

      });
    },
  }
}
</script>