<template>
  <el-row justify="center" type="flex">
    <h1>Please register below</h1>
  </el-row>
  <el-row justify="center" type="flex">
    <el-col :xs="12" :sm="9" :md="8" :lg="7" :xl="6">
      <el-form ref="form" :model="form" label-width="120px" :rules="rules">
        <el-form-item label="Email" prop="email">
          <el-input type="email" v-model="form.email"></el-input>
        </el-form-item>
        <el-form-item label="Password" prop="password">
          <el-input type="password" v-model="form.password"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit('form')">Register</el-button>
          <el-button @click="toLogin">Login</el-button>
        </el-form-item>
      </el-form>
    </el-col>
  </el-row>
</template>

<script>
import {auth, usersCollection} from '@/components/Firebass'
import {RSA} from 'hybrid-crypto-js'
import aes from "crypto-js/aes";

export default {
  name: "Registration",
  data() {
    return {
      form: {
        username: '',
        password: '',
      },
      rules: {
        email: [
          {required: true, type: "email", message: 'Please input an email', trigger: 'blur'},
        ],
        password: [
          {required: true, message: 'Please input a password', trigger: 'blur'},
          {min: 8, message: 'Password should be at least 8 characters long', trigger: 'blur'},
          {max: 50, message: 'Password too long', trigger: 'blur'}
        ],
      },
    }
  },
  methods: {
    toLogin() {
      this.$router.push({name: 'login'})
    },
    onSubmit(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (!valid) return false
        const email = this.form.email
        const password = this.form.password

        try {
          await auth.createUserWithEmailAndPassword(email, password)
          this.$message({message: 'Registration successful', type: 'success'});

          // Keep the login details
          sessionStorage.setItem('email', email)
          sessionStorage.setItem('password', password)

          const uid = auth.currentUser.uid
          const rsa = new RSA()

          // Generate 4096 bit RSA key pair
          const keyPair = await rsa.generateKeyPair()
          const publicKey = keyPair.publicKey
          const privateKey = keyPair.privateKey
          sessionStorage.setItem('publicKey', publicKey)
          sessionStorage.setItem('privateKey', privateKey)

          // Encrypt private key with user password
          const encryptedPrivateKey = aes.encrypt(privateKey, password).toString();
          // Store in users table
          try {
            usersCollection.doc(uid).set({
              email: email,
              uid: uid,
              publicKey: publicKey,
              encryptedPrivateKey: encryptedPrivateKey,
            })
            await this.$router.push({name: 'home'})
          } catch (e) {
            this.$message.error('Error generating keys! Please try again');
          }

        } catch (error) {
          this.$message.error('Error registering! Please try again');
          const errorCode = error.code;
          const errorMessage = error.message;
          console.log(errorCode, errorMessage)
        }
      });
    },
  }
}
</script>